
@font-face{
	font-family: "Pixel";
	src: url("fonts/Pixeled.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body{
	background-color: black;
	margin:0px;
	padding: 0px;
	height: 100vh;

}

.mainGamePage{
	margin:0px;
	padding: 0px;	
	width: 100%;
	height: 100%;
	display: flex;

	flex-direction: row;
}

.blocblack{
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: black;
}
.infoTower{
	font-family: 'Roboto Mono', monospace;
	border-radius: 0px 20px 20px 20px;
	z-index: 999;
	position: absolute;
	background-color: rgba(255,255, 255,0.6);
	backdrop-filter:blur(10px);
	display: flex;	
	flex-direction: column;	
	justify-content: space-around;	
	width: 250px;
	height: 100px;
	padding-top:5px;
	top: 15px;
	left: 90px;
	display :none;
}
.infoTower div{
	margin-left: 10px;	
	display: flex;
	align-items: center;	
}
.infoTower span{
	margin-left: 5px;
	font-weight: bold;
}
.infoTower img{
	width: 20px;
	margin-left: 5px;
}
.menuTower{
	z-index: 1000;	
	height: 100vh;
	width: 90px;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.Tower{
	height:60px;
	width:60px;
	margin-top:15px;
}
.Tower img{
	width: 100%;
}
.tourSelect{	
	font-family: 'Roboto Mono', monospace;
	color:white;
	font-size: 12px;
	z-index: 991;
	position: absolute;			
	display: none;		
	width: 80px;
	height: 80px;
}
.tourSelect img{
	width: 100%;
}

.tourSelect span{
	display: flex;	
	justify-content: center;
	font-weight: bold;
}

.flexRayon{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


}
.rayon{
	opacity: 0.4;
	width:120px;
	height:120px;
	position: absolute;
	display: none;

	z-index: -1;	
	background-color:#f7f2da;
}

.gamePage {

	height: 100%;
	width: 100%;
}
.infoPlayer{
	font-family: 'Roboto Mono', monospace;
	z-index: 1000;
	background-color: rgba(255,255, 255,0.6);
	backdrop-filter:blur(10px);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 25px;
	right: 0px;
	bottom:0px;
}
.infoPlayer div{
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;

}
.infoPlayer span{
	margin-left: 5px;
	font-weight: bold;
}
.infoPlayer img{
	width: 20px;
	margin-left: 5px;
}
.parcour .dalleParcour{
	position: absolute;	 	
}
.dalleParcour img{
	width: 100%;
}

.backImage{
	position: absolute;
	overflow: hidden;

	height: 100%;
	width:100%;
	z-index: -2;
}
.backImage img{
	width:100%;
	opacity: 0.7;
	filter: contrast(120%);
}

/*------------Les Tours en jeu------------*/
.tourJeu{
	position: absolute;	
	font-family: 'Roboto Mono', monospace;
	color:white;
	font-size: 12px;
	top:10px;
	left:140px;
	z-index: 990;	 
	width: 80px;
	height: 80px;
}

.tourJeu img{
	width: 100%;

}

.tourJeu span{
	display: flex;	
	justify-content: center;
	font-weight: bold;
}
.tourJeu .chargement{
	height: 10px;
	width: 0%;
	background-color: red;
}

.flexRayonJeu{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.rayonJeu{
	opacity: 0.0;
	position: absolute;
	visibility: hidden;
	/*display: none;*/
	z-index: -1;	
	background-color:#f7f2da;
}
/*-/\--/\--/\--/\--/\--/\--/\--/\--/\--/\-*/
/*----------------------------------------*/


/*------------Les monstres en jeu------------*/
.monstre{
	


	position: absolute;		
	z-index: 800;
	width: 80px;
	height: 80px;
}
.monstre img{
	width: 100%;	
}
.monstre div{
	display: flex;	
	justify-content: center;
	font-family: 'Roboto Mono', monospace;	
	font-weight: bold;
	font-size: 12px;
	width: 100%;

}
.monstre div>span{
	background-color: rgba(255, 255, 255,0.9);
	display: flex;	
	justify-content: center;
	width: 60px;
	text-align: center;
}
/*-/\--/\--/\--/\--/\--/\--/\--/\--/\--/\-*/
/*----------------------------------------*/




/*------------INTRO DU JEU ------------*/
.intro{
	width: 100%;
	height: 100%;
	background-color: black;	
	font-family: 'Pixel';
	color: white;
}

.intro .iname{
	/*background-color: red;*/
	position: absolute;
	top:0px;
	left:0px;
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size: 35px;
	overflow: hidden;
}
.intro .logo{
	width: 80px;
	position: absolute;	
	top:0px;
	left:0px;
	opacity: 0;
}

.intro .logo img{
	width: 100%;
}
.intro .information{
	padding-top: 50px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	position: absolute;	
	top:0px;
	left:0px;
}
/*-/\--/\--/\--/\--/\--/\--/\--/\--/\--/\-*/
/*----------------------------------------*/





/*------------MENU DU JEU ------------*/
.GameOver{
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
}
.GameOver >div{
	height: 33%;
}

.GameOver .pseudodie{
	display:flex;
	align-items:center;
	justify-content: center;	
	text-align: center;
	color:white;
	font-family: 'Pixel';
	font-size: 30px;
}
.GameOver .pseudodie > span{
	margin-right: 15px;

	color: #c4b74f;
	font-weight: bold;	
}




.GameOver .ptsdie{
	display:flex;
	align-items:center;
	justify-content: center;	
	text-align: center;
	color:white;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

.GameOver .ptsdie > span{	
	margin-right: 10px;
	margin-left: 10px; 

	color: #c4b74f;
	font-weight: bold;	
}

.GameOver .textdie{
	display:flex;
	align-items:center;
	justify-content: center;	
	text-align: center;
	color:white;
	font-family: 'Pixel';
	font-size: 12px;
}

.menu{
	width: 100%;
	height: 100%;
	background-color: black;		
	color: white;
	display: none;
	flex-direction: column;
	align-items: center;

}
.menu > div{
	height: 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu .mname{
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu img{
	width: 40px;
	margin-left: 5px;
}
.menu .mname span{
	font-family: 'Pixel';
	font-size: 30px;
}
.menu .by{
	font-family: 'Pixel';
	font-size: 10px;
	text-align: center;
}

.menu .pseudo{
	font-family: 'Roboto Mono', monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu .pseudo input{
	text-align: center;
	background-color: white;
	width: 200px;
	height: 25px;
}


.menu .difficulty{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	

	margin-top: 50px;
	font-family: 'Roboto Mono', monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu .difficulty > div{
	display: flex;
	align-items: center;
}
.menu .difficulty > div > span{
	margin-left: 10px;
	margin-right: 10px;
}
.menu .difficulty .slider{
	width: 200px;
	height: 25px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.menu .ready{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
}
.menu .ready .bestscore{
	font-family: 'Roboto Mono', monospace;	
}
.menu .ready .bestscore > span{
	font-weight: bold;
	color: #c4b74f;
}
.menu .ready .btn-play{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 70px;	
	font-family: 'Pixel';
	font-size: 30px;
	background: linear-gradient(to right, #44A08D, #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 20px;
}
.menu .ready .btn-play:hover{	
	font-size: 32px;
}


.informationPreGame{

	width: 100%;
	height: 100%;
	display: flex;	
	align-items: center;
	justify-content: center;
}

.informationPreGame > div{
	margin: 40px;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Mono', monospace;	
	color: white;
	font-size: 20px;
}
.informationPreGame img{
	width: 100px;
}
.informationPreGame span{
	margin-top:20px;
}
/*-/\--/\--/\--/\--/\--/\--/\--/\--/\--/\-*/
/*----------------------------------------*/